
@{
    ViewData["Title"] = "SendText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>@ViewData["result"] 
    <a href="javascript:void(0);" onclick="window.history.go(-1)">返回</a>
    </h1>

